<?xml version="1.0" encoding="utf-8"?>
<video>
	<mode>0</mode>
	<window>
		<scale>2</scale>
	</window>
	<scanlines>0</scanlines>
	<fps>2</fps>
	<widescreen>1</widescreen>
	<hires>0</hires>
</video>
<sound>
	<enable>1</enable>
	<advertise>1</advertise>
	<preview>1</preview>
	<fix_samples>1</fix_samples>
</sound>
<controls>
	<gear>0</gear>
	<steerspeed>3</steerspeed>
	<pedalspeed>4</pedalspeed>
	<keyconfig>
		<up>273</up>
		<down>274</down>
		<left>276</left>
		<right>275</right>
		<acc>122</acc>
		<brake>120</brake>
		<gear1>97</gear1>
		<gear2>32</gear2>
		<start>115</start>
		<coin>100</coin>
		<menu>109</menu>
		<view>118</view>
	</keyconfig>
	<padconfig>
		<acc>0</acc>
		<brake>1</brake>
		<gear1>2</gear1>
		<gear2>2</gear2>
		<start>3</start>
		<coin>4</coin>
		<menu>5</menu>
		<view>6</view>
	</padconfig>
	<analog enabled="0"/>
	<collision>
		<left>
			<min>
				<x>0</x>
				<y>0</y>
			</min>
			<max>
				<x>0</x>
				<y>0</y>
			</max>
		</left>
		<right>
			<min>
				<x>0</x>
				<y>0</y>
			</min>
			<max>
				<x>0</x>
				<y>0</y>
			</max>
		</right>
		<up>
			<min>
				<x>0</x>
				<y>0</y>
			</min>
			<max>
				<x>0</x>
				<y>0</y>
			</max>
		</up>
		<down>
			<min>
				<x>0</x>
				<y>0</y>
			</min>
			<max>
				<x>0</x>
				<y>0</y>
			</max>
		</down>
		<accel>
			<min>
				<x>684</x>
				<y>279</y>
			</min>
			<max>
				<x>784</x>
				<y>379</y>
			</max>
		</accel>
		<brake>
			<min>
				<x>605</x>
				<y>311</y>
			</min>
			<max>
				<x>675</x>
				<y>381</y>
			</max>
		</brake>
		<gear>
			<min>
				<x>713</x>
				<y>202</y>
			</min>
			<max>
				<x>784</x>
				<y>273</y>
			</max>
		</gear>
		<coin>
			<min>
				<x>714</x>
				<y>122</y>
			</min>
			<max>
				<x>784</x>
				<y>192</y>
			</max>
		</coin>
		<start>
			<min>
				<x>670</x>
				<y>382</y>
			</min>
			<max>
				<x>784</x>
				<y>440</y>
			</max>
		</start>
		<menu>
			<min>
				<x>730</x>
				<y>10</y>
			</min>
			<max>
				<x>780</x>
				<y>60</y>
			</max>
		</menu>
	</collision>
</controls>
<overlay>
	<enabled>1</enabled>
	<panel_pos>
		<dpad_left>
			<min>
				<x>27</x>
				<y>302</y>
			</min>
			<max>
				<x>98</x>
				<y>360</y>
			</max>
		</dpad_left>
		<dpad_right>
			<min>
				<x>100</x>
				<y>302</y>
			</min>
			<max>
				<x>170</x>
				<y>363</y>
			</max>
		</dpad_right>
		<dpad_up>
			<min>
				<x>64</x>
				<y>250</y>
			</min>
			<max>
				<x>128</x>
				<y>314</y>
			</max>
		</dpad_up>
		<dpad_down>
			<min>
				<x>66</x>
				<y>332</y>
			</min>
			<max>
				<x>130</x>
				<y>404</y>
			</max>
		</dpad_down>
		<accel>
			<min>
				<x>684</x>
				<y>279</y>
			</min>
			<max>
				<x>784</x>
				<y>379</y>
			</max>
		</accel>
		<brake>
			<min>
				<x>605</x>
				<y>311</y>
			</min>
			<max>
				<x>675</x>
				<y>381</y>
			</max>
		</brake>
		<gear>
			<min>
				<x>713</x>
				<y>202</y>
			</min>
			<max>
				<x>784</x>
				<y>273</y>
			</max>
		</gear>
		<coin>
			<min>
				<x>714</x>
				<y>122</y>
			</min>
			<max>
				<x>784</x>
				<y>192</y>
			</max>
		</coin>
		<start>
			<min>
				<x>670</x>
				<y>382</y>
			</min>
			<max>
				<x>784</x>
				<y>440</y>
			</max>
		</start>
		<menu>
			<min>
				<x>730</x>
				<y>10</y>
			</min>
			<max>
				<x>780</x>
				<y>60</y>
			</max>
		</menu>
	</panel_pos>
	<panel_tex>
		<dpad_left>
			<min>
				<x>0</x>
				<y>0</y>
			</min>
			<max>
				<x>72</x>
				<y>72</y>
			</max>
		</dpad_left>
		<dpad_right>
			<min>
				<x>84</x>
				<y>0</y>
			</min>
			<max>
				<x>146</x>
				<y>72</y>
			</max>
		</dpad_right>
		<dpad_up>
			<min>
				<x>77</x>
				<y>60</y>
			</min>
			<max>
				<x>149</x>
				<y>132</y>
			</max>
		</dpad_up>
		<dpad_down>
			<min>
				<x>2</x>
				<y>62</y>
			</min>
			<max>
				<x>74</x>
				<y>134</y>
			</max>
		</dpad_down>
		<accel>
			<min>
				<x>153</x>
				<y>76</y>
			</min>
			<max>
				<x>255</x>
				<y>178</y>
			</max>
		</accel>
		<brake>
			<min>
				<x>169</x>
				<y>184</y>
			</min>
			<max>
				<x>241</x>
				<y>255</y>
			</max>
		</brake>
		<gear>
			<min>
				<x>78</x>
				<y>131</y>
			</min>
			<max>
				<x>151</x>
				<y>201</y>
			</max>
		</gear>
		<coin>
			<min>
				<x>3</x>
				<y>131</y>
			</min>
			<max>
				<x>73</x>
				<y>201</y>
			</max>
		</coin>
		<start>
			<min>
				<x>29</x>
				<y>201</y>
			</min>
			<max>
				<x>143</x>
				<y>254</y>
			</max>
		</start>
		<menu>
			<min>
				<x>178</x>
				<y>12</y>
			</min>
			<max>
				<x>233</x>
				<y>68</y>
			</max>
		</menu>
	</panel_tex>
</overlay>
<engine>
	<time>0</time>
	<traffic>1</traffic>
	<japanese_tracks>0</japanese_tracks>
	<prototype>0</prototype>
	<levelobjects>1</levelobjects>
	<new_attract>1</new_attract>
</engine>
<time_trial>
	<laps>5</laps>
	<traffic>3</traffic>
</time_trial>
<continuous>
	<traffic>3</traffic>
</continuous>
